.separador{height:4em}
body{font-family: 'Lato', sans-serif;}
footer {position: fixed;left:0;bottom: 0;width: 100%;text-align: center;height:45px; background-color: rgba(77, 3, 94, 1); z-index:1;}
h1,h2,h3,h4,h5,h6{font-family: 'Montserrat', sans-serif;}
html, body {margin: 0;padding: 0;font-size: 14px;font-family: 'Roboto', sans-serif;}