Options +FollowSymLinks
RewriteEngine On
#Redireccion https
#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://pikapp.com.ar/$1 [R,L]
#RewriteRule ExpresionRegular UrlDestino [banderas]

RewriteRule ^([a-zA-Z0-9_-]*)$ raw.php?id=$1